# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entornos virtuales
venv/
.env/
.venv/
ENV/

# Archivos temporales y logs
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Reportes y resultados
reports/*
!reports/README.md
!reports/.gitkeep

# Archivos de configuración de usuario
*.sublime-workspace
*.sublime-project
.vscode/

# Playwright
playwright-report/

# Binarios y herramientas externas
!/tools/nuclei/linux/README*
!/tools/nuclei/windows/README*
!/tools/nuclei/linux/LICENSE*
!/tools/nuclei/windows/LICENSE*
/tools/nuclei/*
/tools/sqlmap/*
/tools/zap/*
/tools/wkhtmltopdf/*
!/tools/nuclei/
!/tools/sqlmap/
!/tools/zap/
!/tools/wkhtmltopdf/
!/tools/nuclei/LICENSE*
!/tools/nuclei/linux/LICENSE.md
!/tools/nuclei/windows/LICENSE.md
!/tools/sqlmap/LICENSE*
!/tools/zap/LICENSE*
!/tools/wkhtmltopdf/LICENSE*

# Otros
*.bak
*.old

# Jupyter Notebooks
.ipynb_checkpoints/

# PDF generados
*.pdf
